{{!-- Portofolio --}}
<div class="row">
  <div class="col-{{colSize}} offset-{{offset}}">
    <div id="portfolio" class="portfolio clearfix my-4 row row-eq-height">
      {{#each content as |profile|}}
        <ItemPortfolio @profile={{profile}} />
      {{/each}}
    </div>
  </div>
</div>


{{#if @pagination}}
  {{!-- Pagination numbers --}}
  <div class="row">
    <div class="col-4 offset-4 text-center">
      {{page-numbers content=content}}
    </div>
  </div>
{{/if}}