{{!-- Portofolio --}}
<div class="row">
  <div class="col-{{colSize}} offset-{{offset}}">
    <div id="portfolio" class="portfolio clearfix my-4 row row-eq-height">
      {{#each @profiles as |profile|}}
        <ItemPortfolio @profile={{profile}} @fit={{@fit}}/>
      {{/each}}
    </div>
  </div>
</div>