{{!-- Redes sociales en (xs, sm) --}}
<div class="d-block d-md-none text-right">
  {{#twitter-share-button
    title=config.twitterShareLink
    hashtags="MiGuatemala"
    via="Redxguate"
  }}
    Tweet
  {{/twitter-share-button}}
  {{#fb-share-button
    quote=config.twitterShareLink
    hashtags="MiGuatemala"
  }}
    Share
  {{/fb-share-button}}
</div>
{{!-- 'Navbar' para perfiles --}}
<div class="row my-2">
  <div class="col-12 p-0 nav-candidator border">
    <nav>
      <ul class="list-inline m-0 d-sm-flex">
        {{!-- Genera los links de las funcionalidades --}}
        {{#link-to-wrapper "perfil.index" title="Información general"}}
          <img
            src="img/icono-perfil.png"
            alt="Icono información general"
            height="30px"
            width="30px">
          Perfil
        {{/link-to-wrapper}}
        {{#link-to-wrapper "perfil.partido" title="Información general" class="green"}}
          <img
            src="img/icono-partido.png"
            alt="Icono partido"
            height="30px"
            width="30px"
            class="green">
          Partido Político
        {{/link-to-wrapper}}
        {{#link-to-wrapper "perfil.index" title="Información general" class="blue"}}
          <img
            src="img/icono-elecciones.png"
            alt="Icono elecciones"
            height="30px"
            width="30px"
            class="blue">
          Elecciones
        {{/link-to-wrapper}}
        {{!-- Redes sociales en (viewport > sm) --}}
        <li class="px-3 ml-auto d-none d-md-block social">
          {{#twitter-share-button
            title=config.twitterShareLink
            hashtags="MiGuatemala"
            via="Redxguate"
          }}
            Tweet
          {{/twitter-share-button}}
          {{#fb-share-button
            quote=config.twitterShareLink
            hashtags="MiGuatemala"
          }}
            Share
          {{/fb-share-button}}
        </li>
      </ul>
    </nav>
  </div>
</div>
