{{!-- Redes sociales en (xs, sm) --}}
<div class="d-block d-md-none text-right">
  {{share-twitter}}
  {{share-facebook}}
</div>
{{!-- 'Navbar' para perfiles --}}
<div class="row my-2">
  <div class="col-12 p-0 nav-candidator border shadow">
    <nav>
      <ul class="list-inline m-0 d-sm-flex">
        {{!-- Genera los links de las funcionalidades --}}
        {{#link-to-wrapper "perfil.index" title="Información general" class="primary"}}
          <img
            src="img/icono-perfil.png"
            alt="Icono información general"
            height="30px"
            width="30px"
            class="white">
          <img
            src="img/icono-perfil-color.png"
            alt="Icono información general"
            height="30px"
            width="30px"
            class="color">
          Perfil
        {{/link-to-wrapper}}
        {{#link-to-wrapper "perfil.frente-a-frente" title="Partido" class="green"}}
          <img
            src="img/icono-frente-a-frente.png"
            alt="Icono frente a frente"
            height="30px"
            width="30px"
            class="green white">
          <img
            src="img/icono-frente-a-frente-color.png"
            alt="Icono frente a frente"
            height="30px"
            width="30px"
            class="green color">
          Frente a frente
        {{/link-to-wrapper}}
        {{#link-to-wrapper "perfil.partido" title="Frente a Frente" class="blue"}}
          <img
            src="img/icono-partido.png"
            alt="Icono elecciones"
            height="30px"
            width="30px"
            class="blue white">
          <img
            src="img/icono-partido-color.png"
            alt="Icono elecciones"
            height="30px"
            width="30px"
            class="blue color">
          Partido Político
        {{/link-to-wrapper}}
        {{!-- Redes sociales en (viewport > sm) --}}
        <li class="px-3 ml-auto d-none d-md-flex social">
          {{share-twitter}}
          {{share-facebook}}
        </li>
      </ul>
    </nav>
  </div>
</div>
