// COLORS

$primary: #0e8acb;
$secondary: #53bae5;
$success: #0cab55;
$warning: #fab026;

$dark: #1f2d3e;
$light: #a1a3a6;

$navbar-color: #3a3a3a;

$footer-background-color: #202d3e;
$footer-color: #ffffff;

$border-radius: 10px;

@import "ember-bootstrap/bootstrap";
@import "mi-guatemala";
// Ember Power Select
@import "ember-power-select";

/**
 * INDEX
 *
 * 1. HTML
 * 2. Pagination
 * 3. Ember Power Select
 * 4. Nav candidator
 * 5. Panel
 * 6. Dropdown
 * 7. Others
 */

// HTML

body {
    font-family: 'FontTheme';
    color: #1e2b3d;
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: bold;
}

// Pagination

.page-number, .arrow {
    border: 1px solid gray;
    height: 30px;
    width: 30px;
    text-align: center;
}

// Ember Power Select

.ember-power-select-trigger {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
}


@include media-breakpoint-up(md) {

    .ember-power-select-trigger {
        width: 500px;
    }
}

// Nav candidator

.nav-candidator {
    color: black !important;

    ul li {
        color: $dark;
        padding: 15px;
    }

    ul li:hover, li:hover a {
        background: $warning;
        // Calcula el color según el color de fondo. Aclara 80%.
        color: lighten( $secondary, 80% ) !important;
    }

    a {
        color: $dark !important;
    }
}

// Panel

.panel, .nav-candidator {
    background-color: white;
    border-radius: 5px;
}

.panel {
    .header h3{
        font-size: 1.2rem !important;
    }
}

// Dropdown

.dropdown-menu {
    padding: 10px;
}

// Others

.btn-square {
    width: 250px;
    height: 150px;
    font-size: 1.2rem;
    font-weight: bold;
}

.row.high {
    padding-top: 100px;
    padding-bottom: 100px;
}

main {
    margin-top: -20px;
    margin-bottom: -20px;
}
