// COLORS

$primary: #0e8acb;
$secondary: #53bae5;
$success: #0cab55;
$warning: #fab026;

$dark: #1f2d3e;
$light: #f1f1f1;

$navbar-color: #3a3a3a;

$footer-background-color: #202d3e;
$footer-color: #ffffff;

$border-radius: 10px;

@import "ember-bootstrap/bootstrap";
@import "mi-guatemala";
// Ember Power Select
@import "ember-power-select";

/**
 * INDEX
 *
 * Dropdown
 * Ember Power Select
 * Filters
 * HTML
 * Nav candidator
 * Others
 * Pagination
 * Panel
 */

// HTML

body {
    font-family: 'HindSiliguri';
    color: #1e2b3d;
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: bold;
}

// Pagination

.page-number, .arrow {
    background-color: white;
    height: 40px !important;
    width: 40px !important;
    color: $dark;
    font-weight: bold;
    padding-top: 8px;
    text-align: center;

    a, a:hover {
        color: darken($light, 30%);
    }
}

.page-number.active {
    @extend .bg-primary;
    @extend .text-white;
}

.arrow {
    border-radius: 5px;
}

// Ember Power Select

.ember-power-select-trigger {
    // Dimensions
    width: 80%;
    height: 40px;
    // Margin and padding
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    // Border
    border-radius: 15px;
    // Color
    background-color: $light;
    color: gray;
}

@include media-breakpoint-up(md) {

    .ember-power-select-trigger {
        width: 500px;
    }
}


// Filters

.filters {
    .btn {
        width: 200px;
        height: 40px;
        text-align: center;
    }

    .caret {
        padding-left: 20px;
    }

    img {
        height: 25px;
        filter: brightness(80%);
    }
}
// Nav candidator

.nav-candidator {
    color: black !important;

    ul li {
        color: $light;
        padding: 15px;
    }

    ul li:hover, li:hover a {
        background: $warning;
        // Calcula el color según el color de fondo. Aclara 80%.
        color: lighten( $secondary, 80% ) !important;
    }

    .social, .social:hover {
        background-color: white !important;
    }

    a {
        color: $dark !important;
    }
}

// Panel

.panel, .nav-candidator {
    background-color: white;
    border-radius: 5px;

    .green:hover {
        background-color: $success !important;
        a {
            background-color: $success !important;
        }
        
    }

    .blue:hover {
        background-color: $primary !important;
        a {
            background-color: $primary !important;
        }
        
    }
}

.panel {
    -webkit-box-shadow: 3px 3px 8px 2px rgba(209,209,209,1);
    -moz-box-shadow: 3px 3px 8px 2px rgba(209,209,209,1);
    box-shadow: 3px 3px 8px 2px rgba(209,209,209,1);

    .header h3{
        font-size: 1.2rem !important;
    }
}

// Dropdown

.dropdown-toggle, .dropdown-menu.show {
    color: darken($light, 30%);
}

.dropdown-menu.show {
    @extend .bg-light;

    display: grid;
    padding: 10px;
}

// Others

.btn-square {
    width: 250px;
    height: 150px;
    font-size: 1.2rem;
    font-weight: bold;
}

.row.high {
    padding-top: 100px;
    padding-bottom: 100px;
}

// Perfil

.perfil-container {
    margin-top: -25px;

    .table tr {
        border: 0 0 2px 0 solid $light;
    }

    .social-side img.foto-partido {
        width: 200px;
    }
}

// Button collapse

.button-collapse {
    width: 100%;
    padding: 20px 15px 20px 15px;
    margin: 0;
    background-color: #0e8acb;
    color: white !important;
}
