.card {
  border-width: 2px;
  height: 100%;

  .card-body {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.img-wrapper {
  width: 100%;
  height: auto;
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
  overflow: hidden;
}
