.row > div {
  border: 0 !important;
  padding: 0 !important;
}

.nav {
  // min-height: 4rem;
  // height: 100%;

  li {
    // height: 100%;
  }

  a, .social {
    padding: 10px;
    font-size: 1rem;
    font-weight: 400;
  }

  li a {
    @extend .p-3, .border-left;
    border-radius: 0;
    border-left-width: 1px;
    border-color: $light;
    font-weight: 200;
    background-color: #ffffff !important;
    &.active, &:hover {
      @extend .rounded;
      border-width: 0 !important;
      font-weight: 400;
      background-color: $warning !important;
      color: white !important;
    }
  }

  .active + li a {
    border-left: 0 !important;
  }

  ul:last-child {
    height: 300px !important;
  }

  li:last-child a {
    border-style: solid;
    border-width: 0 2px 0 2px !important;
    border-color: $light;
  }

  .social {
    &.active, &:hover {
      background-color: #ffffff !important;
    }
    padding: 1.5rem;
    div {
      display: flex;
      float: right;
    }
  }
}
