<div class="row">
  <div class="col-md-6 my-2">
    {{one-way-select perfilUnoId
        options=model.profiles
        optionValuePath="id"
        optionLabelPath="nombre"
        update=(action (mut perfilUno))
    }}
  </div>
  <div class="col-md-6">
    {{one-way-select perfilDosId
        options=model.profiles
        optionValuePath="id"
        optionLabelPath="nombre"
         update=(action (mut perfilDos))
    }}
  </div>
</div>
