<div class="row mt-4">
  <div class="col-12">
    <div class="w-100 bg-white p-5">
      <h4 class="text-uppercase text-center">
        Afiliación y desafiliación
      </h4>
      <h5 class="text-uppercase">
        Afiliación
      </h5>
      <p class="mb-5">
        Lorem ipsum dolor sit amet consectetur adipiscing elit viverra per, dignissim tortor suspendisse eu conubia lacus ac egestas vestibulum feugiat, ornare est ligula nisi dictumst fames curae montes. Quisque himenaeos sed donec habitant class litora, est dictum phasellus cubilia parturient vitae, volutpat tincidunt sem platea sociosqu. Suspendisse non auctor nullam mi est penatibus phasellus porttitor massa tellus dignissim, porta cras habitant conubia ullamcorper netus aliquet cum ligula curabitur ridiculus, vivamus eu aenean elementum at taciti pellentesque varius sociis urna.
      </p>
      <a
        href={{this.model.profile.procedimientosAfiliacion}}
        rel="noopener noreferrer"
        target="_blank"
        type="button"
        class="btn btn-lg btn-secondary rounded-pill text-uppercase"
      >
        <img height="20px" src="img/PP-34.png" alt="Descarga">
        <small>
          Documento de Afiliación
        </small>
      </a>
      <div class="w-100 border-bottom my-5"></div>
      <h5 class="text-uppercase">
        Desafilación
      </h5>
      <p class="mb-5">
        Lorem ipsum dolor sit amet consectetur adipiscing elit viverra per, dignissim tortor suspendisse eu conubia lacus ac egestas vestibulum feugiat, ornare est ligula nisi dictumst fames curae montes. Quisque himenaeos sed donec habitant class litora, est dictum phasellus cubilia parturient vitae, volutpat tincidunt sem platea sociosqu. Suspendisse non auctor nullam mi est penatibus phasellus porttitor massa tellus dignissim, porta cras habitant conubia ullamcorper netus aliquet cum ligula curabitur ridiculus, vivamus eu aenean elementum at taciti pellentesque varius sociis urna.
      </p>
      <a
        href="https://www.tse.org.gt/index.php/registro-ciudadano/consulta-empadronamiento"
        rel="noopener noreferrer"
        target="_blank"
        type="button"
        class="btn btn-lg btn-primary rounded-pill text-uppercase"
      >
        <img height="20px" src="img/PP-34.png" alt="Descarga">
        <small>
          Más información
        </small>
      </a>
    </div>
  </div>
</div>