<div class="row m-1 border bg-white">
  <div class="col-md-4">
    {{model.logo}}
  </div>
  <div class="col-md-4">
    <div class="table-responsive-md">
      <table class="table table-sm">
        <tbody>
          <tr>
            <td>
              <small>
                <strong>Nombre corto:</strong>
                {{model.nombreCorto}}
              </small>
            </td>
          </tr>
          <tr>
            <td>
              <small>
                <strong>Nombre completo:</strong>
                {{model.nombreCompleto}}
              </small>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-4">
    
  </div>
</div>
