<div class="row mt-4">
  <div class="col-12 mb-4">
    <div class="w-100 bg-white p-5">
      <h4 class="text-uppercase text-center">
        Regiones constituido y número de afiliados
      </h4>
      <h5 class="text-center">
        Work in progress
      </h5>
    </div>
  </div>
  <div class="col-12">
    <div class="w-100 bg-white p-5">
      <h4 class="text-uppercaser text-center mb-3">
        Domicilio y sedes de contacto
      </h4>
      <p class="text-center mb-5">
        En esta sección se presenta el listado de sedes -  incluido el domicilio del partido a lo largo del país, según lo informado cada trimestre
      </p>
      <h6 class="text-center mb-5">
        Filtro
        Work in progress
      </h6>
      <table class="table">
        <thead class="text-uppercase">
          <tr>
            <th scope="col">
              departamento
            </th>
            <th scope="col">
              municipio
            </th>
            <th class="w-50" scope="col">
              dirección
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-secondary">
              Guatemala
            </td>
            <td>
              Mixco
            </td>
            <td>
              Lorem ipsum dolor sit amet consectetur adipiscing elit, iaculis tortor vel consequat porttitor montes ut dis.
            </td>
          </tr>
          <tr>
            <td class="text-secondary">
              Guatemala
            </td>
            <td>
              Mixco
            </td>
            <td>
              Lorem ipsum dolor sit amet consectetur adipiscing elit, iaculis tortor vel consequat porttitor montes ut dis.
            </td>
          </tr>
          <tr>
            <td class="text-secondary">
              Guatemala
            </td>
            <td>
              Mixco
            </td>
            <td>
              Lorem ipsum dolor sit amet consectetur adipiscing elit, iaculis tortor vel consequat porttitor montes ut dis.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
