<div class="w-100 bg-primary text-white">
  <div class="container-fluid py-5">
    <div class="row py-5">
      <div class="col-12 text-center offset-lg-1 col-lg-5 text-lg-left">
        <h2>
          Conoce a las instituciones y a los funcionarios públicos del sector de
          <br> <span class="text-enfasis">Justicia de Guatemala</span>
        </h2>
      </div>
      <div class="col-12 col-lg-5"></div>
    </div>
  </div>
</div>
<div class="container-fluid bg-white py-5">
  <div class="row py-5">
    <div class="col-12 text-center offset-lg-1 col-lg-5 text-lg-left">
      <h2 class="mb-3">¿Qué es Justicipedia?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis autem odio modi possimus minima asperiores distinctio excepturi maxime dolore officiis, ducimus tenetur sequi cum veniam suscipit nulla magnam voluptatum? Porro.
        <br>
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, totam! Vitae, dignissimos ipsa vero, reiciendis, perferendis illo similique vel accusantium corrupti cupiditate deleniti laudantium laborum magnam assumenda a nostrum praesentium.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor earum corrupti deserunt, vero quaerat iste et nam incidunt perspiciatis. Quisquam, inventore assumenda! Aperiam sunt delectus ratione quibusdam, ducimus facilis culpa!
      </p>
    </div>
    <div class="col-12 col-lg-5">
      {{!-- Video --}}
    </div>
  </div>
  <div class="row py-5">
    <div class="col-12 offset-lg-1 col-lg-11">
      <h2>Elija la categoria de tu interes</h2>
    </div>
    <div class="col-12 text-center offset-lg-1 col-lg-5 border-right">
      <h2 class="my-5 py-5">Sector Justicia</h2>
    </div>
    <div class="col-12 text-center col-lg-5">
      <h2 class="my-5 py-5">Elecciones</h2>
    </div>
  </div>
  {{!-- Portofolio --}}
  <div class="row mt-5">
    <div class="col-12 offset-lg-1 col-lg-11">
      <div class="border-bottom w-100" style="height: 20px">
        <h3 class="bg-white w-50 pr-3">Instituciones de Sector Justicia</h3>
      </div>
    </div>
  </div>
  <Portfolio @profiles={{model}} class="mt-5"/>
</div>