<div class="w-100 text-white" id="index-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 font-weight-bold">
        <h1>
          Partidos Políticos <br>
          accesibles a la ciudadanía
        </h1>
        <h2 class="h4 font-weight-semibold">
          Partidos Públicos es una plataforma que busca <br>
          facilitar el acceso y la fiscalización ciudadana a la información
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row py-section">
    <div class="col-lg-6">
      <h1 class="mb-4">¿Qué es Partidos Públicos?</h1>
      <p class="mb-4">
        Partidos Públicos es una plataforma que busca facilitar el acceso y la fiscalización ciudadana
        a la información que publican los partidos políticos guatemaltecos en transparencia activa,
        a través de visualizaciones, filtros y comparativas amigables.
        <strong>
          ¡Queremos que la transparencia sea útil y entendible!
        </strong>
      </p>
      <LinkTo @route="index" class="btn btn-secondary rounded-pill px-4 mb-4">
        MÁS INFORMACIÓN
      </LinkTo>
    </div>
    <div class="col-lg-6 text-center">
      <iframe
        title="video"
        width="560"
        height="315"
        src="https://www.youtube-nocookie.com/embed/UHGvdqwvizE"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
<div class="w-100 bg-light">
  <div class="container">
    <div class="row py-section text-center">
      <div class="col-md-4">
        <div class="bg-primary m-1 py-4 rounded-lg font-weight-bold">
          <img width="70px" src="/img/partidos.png" alt="Flechas opuestas">
          <br>
          <LinkTo class="text-white" @route="index">
            Partidos Politicos
          </LinkTo>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bg-primary m-1 py-4 rounded-lg font-weight-bold">
          <img width="70px" src="/img/comparar.png" alt="Flechas opuestas">
          <br>
          <LinkTo class="text-white" @route="index">
            Comparar Partidos
          </LinkTo>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bg-primary m-1 py-4 rounded-lg font-weight-bold">
          <img width="70px" src="/img/indice.png" alt="Flechas opuestas">
          <br>
          <LinkTo class="text-white" @route="index">
            Índice
          </LinkTo>
        </div>
      </div>
    </div>
  </div>
</div>