<div class="w-100 bg-primary text-white">
  <div class="container-fluid py-5">
    <div class="row py-5">
      <div class="col-12 text-center offset-lg-1 col-lg-5 text-lg-left">
        <h2>Conoce a las instituciones y a los funcionarios públicos del sector de <br> Justicia de Guatemala</h2>
      </div>
      <div class="col-12 col-lg-5"></div>
    </div>
  </div>
</div>
<div class="container-fluid bg-white py-5">
  <div class="row py-5 mb-5">
    <div class="col-12 text-center offset-lg-1 col-lg-5 text-lg-left">
      <h2 class="mb-3">¿Qué es Justicipedia?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis autem odio modi possimus minima asperiores distinctio excepturi maxime dolore officiis, ducimus tenetur sequi cum veniam suscipit nulla magnam voluptatum? Porro.
        <br>
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, totam! Vitae, dignissimos ipsa vero, reiciendis, perferendis illo similique vel accusantium corrupti cupiditate deleniti laudantium laborum magnam assumenda a nostrum praesentium.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor earum corrupti deserunt, vero quaerat iste et nam incidunt perspiciatis. Quisquam, inventore assumenda! Aperiam sunt delectus ratione quibusdam, ducimus facilis culpa!
      </p>
    </div>
    <div class="col-12 col-lg-5">

    </div>
  </div>
  {{!-- Portofolio --}}
  <Portfolio @profiles={{model}}/>
</div>