{{!-- Portfolio --}}
{{#if model.config.useFrontPortfolioVisualization}}
  <div class="container bg-white">
    <div class="row">
      <div class="col-12">
        {{!-- Mujer {{input type="checkbox" name="Mujer" checked=esMujer change=(action "applyFilter" "esMujer")}} --}}
      </div>
    </div>
    <div>
      {{front-portfolio
      profiles=model.profiles
      onDidInsertElement=(action "applyFilter")
      }}
    </div>
  </div>
{{/if}}
