<div class="w-100 bg-primary text-white">
  <div class="container-fluid py-5">
    <div class="row py-5" id="index-banner">
      <div class="col-12 text-center offset-lg-1 col-lg-5 text-lg-left">
        <h3>
          Conoce a las instituciones y a los<br>
          funcionarios públicos del sector de<br>
          Justicia de Guatemala
        </h3>
      </div>
      <div class="col-12 col-lg-5">
        <img src="/img/slider.png" alt="Corte Suprema de Justicia" class="img-responsive w-100 pt-5 m-lg-0">
      </div>
    </div>
  </div>
</div>
{{!-- <div class="container-fluid bg-light py-5">
  <div class="row py-5">
    <div class="col-12 text-center">
      <div class="video-container">
        <iframe src="https://lucid-shannon-9cf7f0.netlify.com/" frameborder="0" style="overflow: hidden;">
        </iframe>
      </div>
    </div>
  </div>
</div> --}}