<div class="w-100 text-white" id="index-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center align-middle text-left mt-4 font-weight-bold px-5">
        <p class="h2 font-weight-light">
          Conoce las acciones, gasto e inversión que realiza el Ministerio de Salud para enfrentar
          <strong class="font-weight-bold">la emergencia de COVID 19.</strong>
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img src="/img/slider.png" alt="Corte Suprema de Justicia" class="img-responsive">
      </div>
    </div>
  </div>
</div>
<div class="container py-5">
  <div class="row py-5">
    <div class="col-12 text-left">
      <h2 class="mb-4">Hospitales</h2>
      <div class="table-responsive thead-primary mb-2 index-table-container">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th colspan="2" scope="col">
                Red de Servicios de Salud-COVID19
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each model as |hospital|}}
              <tr>
                <td>
                  {{hospital.nombre}}
                </td>
                <td class="text-center">
                  <LinkTo class="btn btn-secondary px-5" @route="perfil" @models={{array "hospitales" hospital.id}}>
                    Ver
                  </LinkTo>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="w-100 bg-light">
  <div class="container py-5">
    <div class="row text-center">
      <div class="col-12">
        <h3 class="mb-4">Preguntas frecuentes</h3>
      </div>

      <div class="col-12 my-4">
        <div class="trigger w-100 bg-white p-5">
          <h3 class="font-weight-bold">
            ¿Qué es NuestraSalud.Gt?
          </h3>
          <p class="el h5 font-weight-light mt-4 text-justify">
            Es una herramienta cívica y de fiscalización que tiene como fin centralizar de información pública de manera amigable con la ciudadanía para buscar la transparencia en las acciones, gasto e inversión que realiza el Ministerio de Salud y Asistencia Social para enfrentar la emergencia de COVID 19 en Guatemala.
          </p>
        </div>
      </div>

      <div class="col-12 my-4">
        <div class="trigger w-100 bg-white p-5">
          <h3 class="font-weight-bold">
            ¿Cómo se desarrolló NuestraSalud.Gt?
          </h3>
          <p class="el h5 font-weight-light mt-4 text-justify">
            Este es un esfuerzo de colaboración en conjunto entre la Asociación Civil  Red Ciudadana y la diputada al Congreso de la República, Lucrecia Hernández Mack para presentarle a la ciudadanía a través de esta plataforma digital información relativa a las compras, gastos, inversión  de los recursos públicos, disponibilidad y abastecimiento de la red hospitalaria y acciones que realiza el Ministerio de Salud Pública y Asistencia Social frente a la amenaza de COVID 19.
          </p>
        </div>
      </div>

      <div class="col-12 my-4">
        <div class="trigger w-100 bg-white p-5">
          <h3 class="font-weight-bold">
            ¿De dónde se obtuvieron datos públicos de NuestraSalud.Gt?
          </h3>
          <p class="el h5 font-weight-light mt-4 text-justify">
            Presupuesto: los datos de presupuesto se tuvieron a través del Sistema de Contabilidad Integrada (SICOIN). Dicho sistema de información pertenece al Ministerio de Finanzas Públicas.
            <br>
            Compras: los datos de los concursos de compras se tuvieron a través del Sistema de Guatecompras. Dicho sistema de información pertenece al Ministerio de Finanzas Públicas.
            <br>
            Abastecimiento y disponibilidad: los datos relativos a los niveles de abastecimiento y disponibilidad de medicamentos, insumos de material quirúrgico, reactivos de laboratorio y bancos de sangre se realizan a través de solicitudes de información que dirige la diputada Lucrecia Hernández Mack al Ministerio de Salud Pública y Asistencia Social. Las solicitudes de información las puede consultar en este enlace:
            <ul>
              <li>
                <a href="https://redciudadana.org/lhm-128-2020 ">
                  https://redciudadana.org/lhm-128-2020
                </a>
              </li>
              <li>
                <a href="https://redciudadana.org/lhm-127-2020-sjd">
                  https://redciudadana.org/lhm-127-2020-sjd
                </a>
              </li>
              <li>
                <a href="https://redciudadana.org/lhm-48-2020 ">
                  https://redciudadana.org/lhm-48-2020
                </a>
              </li>
              <li>
                <a href="https://redciudadana.org/lhm-75-2020-1 ">
                  https://redciudadana.org/lhm-75-2020-1
                </a>
              </li>
            </ul>
            <br>
            <br>
          </p>
        </div>
      </div>

      <div class="col-12 my-4">
        <div class="trigger w-100 bg-white p-5">
          <h3 class="font-weight-bold">
            ¿Cuál es el fundamento legal de NuestraSalud?
          </h3>
          <p class="el h5 font-weight-light mt-4 text-justify">
            NuestraSalud busca configurar entre sí la transparencia que nos otorga la Ley de libre acceso a la información  y la  Constitución Política de la República de Guatemala. Adicionalmente, dada la facultad de fiscalización de parte de la diputada Lucrecia Hernández Mack, facilita a esta iniciativa a poder acceder información relativa a temas de interés sobre el estado de la red de servicios de salud del Ministerio de Salud Pública y Asistencia Social.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
<script>
  var collapses = document.querySelectorAll('.el');
  collapses.forEach((el) => {
    var height = el.scrollHeight;
    el.style.setProperty('--max-height', height + 'px');
  });
</script>