{{!-- Carousel --}}
{{#bs-carousel autoPlay="true" as |car|}}
  {{#car.slide}}
    <img alt="Paso 1" src="img/slider-1.png" height="auto" width="100%">
  {{/car.slide}}
{{/bs-carousel}}

<div class="container py-5">

  {{!-- Ember Power Select --}}
  <div class="row">
    <div class="col-12 text-center">
      <h4>Conoce a los candidatos y candidatos a cargos de elección popular</h4>
    </div>
  </div>

  {{!-- Filters --}}
  <div class="row filters">
    <div class="col-12 text-center">
      {{#bs-button type="primary" class="active" onClick=(action "transitionTo" "presidentes")}}
          <div>
            <img src="img/icono-president.png" alt="Elección presidencial">
            <p>Presidencial</p>
          </div>
      {{/bs-button}}
      {{#bs-button type="primary"  onClick=(action "transitionTo" "alcaldes")}}
          <div>
            <img src="img/icono-mayor.png" alt="Elección municipal">
            <p>Municipal</p>
          </div>
      {{/bs-button}}
      {{#bs-button type="primary"  onClick=(action "transitionTo" "listado")}}
          <div>
            <img src="img/icono-listado.png" alt="Elección diputados del listado nacional">
            <p>Listado<br/> nacional</p>
          </div>
      {{/bs-button}}
      {{#bs-button type="primary"  onClick=(action "transitionTo" "distrito")}}
          <div>
            <img src="img/icono-distrito.png" alt="Elección diputados del listado nacional">
            <p>Distrito</p>
          </div>
      {{/bs-button}}
      {{#bs-button type="primary"  onClick=(action "transitionTo" "parlacen")}}
          <div>
            <img src="img/icono-parlacen.png" alt="Elección diputados del parlacen">
            <p>Parlacen</p>
          </div>
      {{/bs-button}}
    </div>
  </div>

</div>

<div class="container-fluid bg-light py-4">

  {{!-- Portofolio --}}
  <div class="row">
    <div class="col-10 offset-1">
      <div id="portfolio" class="portfolio clearfix my-4">
        {{#each pagedContent as |profile|}}
          {{item-portfolio profile=profile}}
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-dark justify-content-center py-5">
  {{!-- Fecha --}}
  <div class="row">
    <div class="col-md-4 text-center text-md-right">
      <img src="img/calendario.png" alt="Calendario: 3 de febrero.">
    </div>
    <div class="col-md-6 text-center date">
      <div>
        <h1 class="text-white">Elección: Domingo 16 de Junio</h1>
        <h3 class="text-secondary">Elección generales 2019</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">

  {{!-- ¿Dónde voto? ¿Cuánto falta? ¡Empadrónate! --}}
  <div class="row high">
    <div class="col-12 col-md-4">
      <a href="https://consulta2018.tse.org.gt/dondevotas.php" target="_blank">
        <button class="btn btn-warning btn-square">
          <img src="img/icono-donde-voto.png" alt="Icono donde voto">
          Nuestra Elección
        </button>
      </a>
    </div>
    <div class="col-12 col-md-4">
      <a href="http://semaforoelectoral.gt/" target="_blank">
        <button class="btn btn-success btn-square">
          <img src="img/icono-megafono.png" alt="Icono frente a frente">
          <div class="block">
            <p>Semáforo Electoral</p>
          </div>
        </button>
      </a>
    </div>
    <div class="col-12 col-md-4">
      <button class="btn btn-primary btn-square">
        <img src="img/icono-resultados.png" alt="Icono resultados">
        <div class="block">
          <p>Resultados</p>
          <small>Próximamente</small>
        </div>
      </button>
    </div>
  </div>
</div>

<div class="container colaboradores">
  {{!-- Un proyecto de --}}
  <div class="row">
    <div class="col-12 text-center">
      <h5 class="font-weight-light">Un proyecto de:</h5>
      <img src="img/colaboradores/logo-tse.png" class="ml-2" alt="Logo TSE">
      <img src="mi-guatemala/img/logo-rc-color.png" alt="Logo Red Ciudadana">
      <img src="img/colaboradores/CI_COLOR.png" alt="Ciudadanía Inteligente">
    </div>
  </div>
  {{!-- Gracias al apoyo de: --}}
  <div class="row">
    <div class="col-12 text-center">
      <h5 class="font-weight-light">Gracias al apoyo de:</h5>
      <img src="img/colaboradores/KAS.png" alt="Logo KAS">
    </div>
  </div>
</div>
