{{!-- Portfolio --}}
{{#if model.config.useFrontPortfolioVisualization}}
  <div class="container-fluid bg-white">
    <div>
    {{front-portfolio
      perfiles=model.perfiles
      onDidInsertElement=(action 'applyFilter')
    }}
    </div>
  </div>
{{/if}}
