{{!-- HTML title: 'Nombres Apellidos' --}}
{{title model.profile.nombre replace=true}}

<div class="w-100 bg-light perfil-container">
  <section class="container profile my-4 py-3">

    <ProfileFunctionalities @model={{model}} />

    {{outlet}}

    {{!-- Deshabilitando diqus --}}
    {{!-- {{disqus-panel profile=model.profile}} --}}

  </section>
</div>
