{{!-- HTML title: 'Nombres Apellidos' --}}
{{title model.profile.nombre replace=true}}

<div class="w-100 bg-light">
  <section class="container profile my-4">

    {{profile-functionalities model=model}}

    {{outlet}}

    {{disqus-panel profile=model.profile}}

  </section>
</div>
