<div class="w-100 bg-light h-60vh">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7 py-5">
        <h1 class="mb-4">
          ¿Qué es Partidos Públicos?
        </h1>
        <p>
          Partidos Públicos es una plataforma que busca facilitar el acceso y la fiscalización ciudadana a la información que publican los partidos políticos guatemaltecos en transparencia activa, a través de visualizaciones, filtros y comparativas amigables.
          <strong>
            ¡Queremos que la transparencia sea útil y entendible!
          </strong>
        </p>
      </div>
    </div>
  </div>
</div>