<form
  name="test"
  netlify
  data-netlify="true"
  data-netlify-honeypot="bot-field"
>
  <input type="hidden" name="form-name" value="test">
  <input type="text" name="name">
  <input type="number" name="size">
  <textarea name="question"></textarea>
  <button type="submit">
    Enviar
  </button>
</form>