<div class="p-5">
  {{ember-chart
    type="doughnut"
    data=this.data
  }}
</div>
<div class="p-5">
  {{ember-chart
    type="bar"
    data=this.dataBar
    options=this.optionsBar
  }}
</div>
{{log this.optionsBar}}